@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Config */
:root {
    --main-color: #0198e9;
    --text: #475569;
    --text-color: #1C252E;
    --box-shadow: #63636333 0px 2px 8px 0px;
    --margin-bottom: 40px;
    --border-radius: 40px;
    --space: 125px;
    --max-container: 1190px;
    --padding-container: 160px 0 96px;
    --gap: 32px;
    --font-size: 16px;
}

html {
    font-size: 10px;
}

body {
    font-size: 1rem;
    place-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) transparent;
}

button {
    all: unset;
    border-radius: 100px;
    width: 129px;
    height: 48px;
    cursor: pointer;
    background-color: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 21.28px;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    transition: all 0.3s ease 0.1s;

    &:hover {
        background-color: #51ace0;
    }
}

a {
    color: var(--text-color)
}

/* h1 {
    position: relative;
    font-size: 72px;
    font-weight: 700;
    line-height: 87.14px;
    color: var(--text-color)
}

h2 {
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 67.77px;
    color: var(--text-color);
}

h3 {
    position: relative;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.57px;
    color: var(--text-color);
}

h4 {
    position: relative;
    font-size: 26px;
    font-weight: 600;
    line-height: 31.47px;
    color: var(--text-color);
}

p {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.78px;
    color: var(--text);

} */

h1 {
    position: relative;
    font-size: 32px;
    font-weight: 600;
    line-height: 43.57px;
    color: var(--text-color);
}

p,
span {
    position: relative;
    font-size: 16xp;
    font-weight: 400;
    line-height: 21.78px;
    color: var(--text);
}


.container {
    position: relative;
    width: 100%;
    max-width: 1190px;
    margin: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

.card {
    overflow: hidden;
    border-radius: var(--border-radius);
    border: 2px solid var(--text-color);
    border-bottom: 10px solid var(--text-color);
    box-shadow: var(--box-shadow);
}

section {
    position: relative;
    min-height: calc(100vh - 70px);
    box-sizing: border-box;
}

section .container {
    padding: var(--padding-container)
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    background-color: #fff;
}

.logo_wrapper {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 20px;
    font-weight: 700;
    color: var(--text-color)
}

nav .container {
    display: flex;
    justify-content: space-between;
}


nav ul.nav_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 32px;

    li {
        font-size: 18px;
        font-weight: 400;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
        color: var(--text);
        transition: all 0.3s ease 0.1s;
    }

    li::before {
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        height: 2px;
        background-color: var(--text-color);
        transition: all 0.3s ease 0.1s;

    }

    li:hover {
        font-weight: 500;
    }

    li:hover::before {
        width: 100%;
    }
}

.nav_right {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_btn {
    all: unset;
    cursor: pointer;
}

.menu_screen {
    padding: 0.5rem;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 0.1rem solid #ccc;
    box-shadow: var(--box-shadow);
    font-size: 1.5rem;
    z-index: 9999;

    li {
        width: 100%;
        background-color: transparent;
        color: var(--text);
        transition: all 0.3s ease 0.1s;
        display: flex;
        gap: 10px;
        align-items: center;
        white-space: nowrap;
        padding: 10px 30px;
        cursor: pointer;

        &:hover {
            color: var(--text-color);
            transform: translateY(-1px);
        }
    }
}

.menu_btn,
.menu_screen {
    display: none;
}

.background_cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img.cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

/*-- Main --*/
main {
    width: 100vw;
    position: relative;
    margin-top: 70px;
}

/* Hero Section */

section.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

section.hero .container {
    text-align: center;
    padding: unset;
}

section.hero h1.heading {
    position: relative;
    width: 100%;
    margin-bottom: var(--margin-bottom);
}

section.hero p.subheadline {
    position: relative;
    margin-bottom: var(--margin-bottom);
}

section.hero button {
    position: relative;
    display: inline-flex;
    width: 206px;
    height: 72px;
    border-radius: 100px;
}

/* About */

section.about .container {
    padding: var(--padding-container)
}

section.about .image,
section.features .image,
section.features .content {
    flex: 1 1;
    aspect-ratio: 1 / 1;
}

section.about .content,
section.features .tab {
    flex: 1;
    text-align: left;
}

section.about h2 {
    margin-bottom: 15px;
}

section.about p {
    margin-bottom: 30px;
}

section.about button {
    width: 314px;
    height: 72px;
    align-items: center;
    gap: var(--gap);

    img {
        width: 24px;
        height: 24px;
    }
}

/* Features */
section.features .content {
    display: flex;
    align-items: center;
}

section.features .tab_wrapper {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

section.features .tab {
    padding: 32px;
    flex: 1;
}

section.features h2,
section.how_it_works h2 {
    margin-bottom: var(--margin-bottom);
    text-align: center;
}

section.features h4 {
    margin-bottom: 10px;
}

/* How it works */
section.how_it_works .wrapper {
    position: relative;
    aspect-ratio: 6 / 5;
    display: flex;
    flex-flow: column;
    gap: var(--gap);
    height: 100%;
}

section.how_it_works .list_wrapper {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    gap: var(--gap)
}

section.how_it_works aside {
    position: relative;
}

aside.task,
aside.leaderboard {
    height: 100%;
    aspect-ratio: 1 / 1;
}

aside.join,
section.how_it_works .right {
    flex: 1;
    height: 100%;
    display: flex;
    flex-flow: column;
    gap: var(--gap);
}

aside.token,
aside.premium {
    flex: 1 1;
}

aside .card_wrapper {
    position: relative;
    padding: 30px;
    width: 100%;
    height: 100%;
}

aside .card_wrapper .heading {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* community */

section.community .com_card {
    height: 100%;
    width: 100%;
    border: 2px solid var(--text-color);
    border-radius: 40px;
    padding: 50px;
    background-color: #141A21;
    color: #C4CDD5;
    width: 100%;
}

section.community h3 {
    margin-bottom: 10px;
    color: #C4CDD5;
}

section.community p {
    color: #C4CDD5;
    margin-bottom: 50px;
}


section.community button {
    width: 307px;
    gap: 7px
}

/* Footer */
footer {
    background-color: #141A21;
    position: relative;
    color: #C4CDD5;

    .background_cover {
        position: absolute;
        top: 0;
        left: 75%;
        width: 25%;
        height: 100%;
        overflow: hidden;
    }

    .footer_wrapper {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 72px 0;
        gap: 10px;
    }


    .main,
    .list {
        flex: 1;
        height: 100%;
        width: 100%;
    }


    .main {
        .map {
            margin-top: 20px;
        }

        .link a:first-child {
            margin-right: 10px;
        }

        .copyright {
            font-size: 14px;
            line-height: 16.94px;
        }

        .logo_wrapper {
            color: #fff
        }
    }

    .list {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        gap: 20px;

        .heading {
            font-weight: 600;
            color: #fff;
            margin-bottom: 20px;
            font-size: 16px;
            white-space: nowrap;
        }

        li {
            font-weight: 400;
            color: #C4CDD5;
            margin-bottom: 10px;
        }
    }

}

@media only screen and (max-width: 1440px) {

    :root {
        --space: 30px;
    }

    .container {
        all: unset;
        display: block;
        position: relative;
        width: calc(100vw - 2 * var(--space));
        margin: 0 var(--space);
    }
}

@media only screen and (max-width: 1025px) {

    :root {
        --space: 28px;
    }

    nav ul.nav_menu {
        gap: 15px;
    }
}

@media only screen and (max-width: 920px) {

    section.about .wrapper,
    section.features .wrapper {
        display: flex;
        flex-flow: column;
        gap: var(--gap);
    }

    section.about h2,
    section.about p {
        text-align: center;
    }

    section.about button {
        margin: auto;
    }

    section.features .content {
        aspect-ratio: unset;
    }

    footer .footer_wrapper {
        width: 100%;
    }

    section.how_it_works .wrapper {
        aspect-ratio: unset;
    }


    section.how_it_works .list_wrapper {
        flex-flow: column;
        gap: var(--gap);
    }

    aside.task,
    aside.join,
    aside.leaderboard {
        flex: 0 0 auto;
        width: 100%;
        aspect-ratio: 5 / 2;
    }

    aside.token,
    aside.premium {
        width: 100%;
    }



}

@media only screen and (max-width: 768px) {
    :root {
        --space: 24px;
        --padding-container: 60px 0;
    }

    /* section {
        min-height: unset;
    } */

    section .container {
        all: unset;
        padding: var(--padding-container);
        display: block;
        position: relative;
        width: calc(100% - 2 * var(--space));
        margin: 0 var(--space);
    }

    /* section.hero {
        display: block;
        align-items: center;
        justify-content: center;
    } */


    h1 {
        font-size: 72px;
        font-weight: 700;
        line-height: 87.14px;
    }

    h2 {

        font-size: 56px;
        font-weight: 700;
        line-height: 67.77px;
    }

    h3 {
        font-size: 36px;
        font-weight: 600;
        line-height: 43.57px;
        color: var(--text-color);
    }

    h4 {
        font-size: 26px;
        font-weight: 600;
        line-height: 31.47px;
        color: var(--text-color);
    }

    p {
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        text-align: center;
        color: var(--text)
    }

    nav ul.nav_menu {
        display: none;
    }

    .menu_btn {
        display: block;
    }

    footer .footer_wrapper {
        flex-flow: column-reverse;

    }

    footer .group {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
    }

    footer .main .map {
        margin-top: 0;
    }

    footer .link {
        height: 100%;
    }

    footer .main .copyright {
        margin-top: 20px;

        br {
            display: none;
        }
    }

    footer .item {
        flex: 1;
    }

}

@media only screen and (max-width: 479px) {
    :root {
        --space: 16px;
    }

    .nav_right button:first-child {
        display: none;
    }

    h1,
    h2,
    h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 43.57px;
    }

    h4 {
        font-size: 26px;
        font-weight: 600;
        line-height: 31.47px;
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        text-align: center;
    }

}